.Main-body {
  margin-top: 80px;
  margin-left: 40px;
  display: flex;
  justify-content: space-around;
}
.Des-Container {
  width: 260px;
  font-size: 15px;
  color: rgb(227, 227, 227);
}
.Main-body div h3 {
  color: #fff;
  font-size: 34px;
}
.Des-Container button {
  color: #ffffff;
  background-color: rgb(0, 202, 76);
  border: none;
  border-radius: 150px;
  padding: 11px 30px;
  font-weight: 300;
  font-size: 17px;
  cursor: pointer;
}
.Des-Container button:hover {
  box-shadow: inset 5px 5px 51px rgba(0, 0, 0, 0.15);
}
.Des-Container button:active {
  opacity: 0.5;
}
.Login-form {
  background-color: white;
  padding-top: 25px;
  width: 400px;
  height: 370px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.Email-input {
  background-color: rgb(230, 230, 230);
  border: none;
  display: block;
  margin-left: 40px;
  margin-bottom: 45px;
  height: 35px;
  width: 75%;
  padding-left: 15px;
}
.Name-input {
  background-color: rgb(230, 230, 230);
  border: none;
  display: block;
  margin-left: 40px;
  margin-bottom: 45px;
  height: 35px;
  width: 75%;
  padding-left: 15px;
}
.Password-input {
  margin-bottom: 10px;
  background-color: rgb(230, 230, 230);
  border: none;
  display: block;
  margin-left: 40px;
  height: 35px;
  width: 75%;
  padding-left: 15px;
}
.Login-form h2 {
  margin-left: 100px;
}
.button-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login-form button {
  color: #fff;
  background-color: rgb(29, 130, 255);
  border: none;
  width: 310px;
  height: 35px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: box-shadow ease-in 0.15s opacity ease-in 0.15s;
}
.button-Container button:hover {
box-shadow: inset 5px 5px 51px rgba(0, 0, 0, 0.15);
}
.button-Container button:active {
  opacity: 0.6;
}
