body {
  height: fit-content;
  background: 
  linear-gradient(135deg, #60a5fa 0%, #3b82f6 100%);
  font-family: "Montserrat", sans-serif;

}
.Main-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h4 {
  margin-left: 40px;
  color: white;
}
.Main-head div {
  margin-right: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Main-head div p {
  margin-right: 25px;
  color: rgb(210, 210, 210);
  cursor: pointer;
}
.Main-head button {
  background-color: transparent;
  color: rgb(227, 227, 227);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  padding: 7px 17px;
  cursor: pointer;
  transition: background-color ease 0.15s color ease 0.15 opacity ease 0.15;
}
.Main-head button:hover {
 background-color: white;
 color: #3b82f6;
}
.Main-head button:active {
  opacity: 0.6;

}
