body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  height: fit-content;
}

.Main-Container {
  background-color: white;
  width: 488px;
  height: 540px;
  padding-left: 10px;
  border-radius: 20px;
  padding-top: 35px;
}
.Sign-in-div {
  margin-left: 30px;
}
.Email {
  color: rgb(96, 96, 96);
  font-size: 16px;
  width: 358.667px;
  height: 48px;
  margin-bottom: 20px;
  border: 0.5px solid gray;
  border-radius: 10px;
  padding-left: 10px;
}
.Password {
  color: rgb(96, 96, 96);
  font-size: 16px;
  width: 358.667px;
  height: 48px;
  margin-bottom: 20px;
  border: 0.5px solid gray;
  border-radius: 10px;
  padding-left: 10px;
}
.H {
  color: black;
  margin-bottom: 40px;
}
.Forget {
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 7px;
}

.Sign-in-button {
  margin-left: 12px;
  font-family: Arial;
  background-color: rgb(254, 64, 102);
  border: none;
  color: white;
  height: 48px;
  width: 380px;
  border-radius: 10px;
  font-size: 15px;
  font-size: 17px;
  cursor: pointer;
  transition: opacity ease 0.15s;
}
.Sign-in-button:hover {
  opacity: 0.6;
}
.Sign-in-button:active {
  opacity: 0.3;
}
.Forget a {
  color: black;
}
.Forget:hover a {
  color: red;
}
.P1 {
  color: rgb(140, 136, 137);
  font-size: 14px;
  margin-top: 20px;
  margin-left: 13px;
}
.Span1 a {
  color: red;
  text-decoration: none;
}
.Span1:hover a {
  text-decoration: underline;
}
.Another {
  display: flex;
  margin-top: 50px;
  border-top: 1px solid rgb(193, 193, 193);
  border-spacing: 10px;
  margin-right: 25px;
}
.Another1 {
  flex: 1;
  color: rgb(140, 136, 137);
  font-size: 14px;
  margin-top: 40px;
}
.Image-Container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 40px;
}
.Image1 {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.Lark {
  width: 30px;
  height: 30px;
  margin-right: 40px;
  cursor: pointer;
}
